@use '../..//utils/styles/variables.scss' as *;
.tours {
	&.page-layout {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			linear-gradient(to bottom, $myColor-3, $myColor-3);
	}
	&-content {
		// padding-top: 15rem;
		&.content-layout {
			border-left: 4px solid $myColor-3;
			border-right: 4px solid $myColor-3;
			box-shadow: 0 0 4rem rgba($myColor-3, 1);
			scrollbar-color: $myColor-3 black;
		}
		overflow: hidden;
		.my-heading {
			margin: 0;
			margin-top: 12rem;
			// color: $myColor-3;
		}
		&-cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			overflow-y: scroll;
			scrollbar-width: thin;
		}
	}
}
@media screen and (max-width: 436px) {
	.tours {
		&-content {
			.my-heading {
				margin-top: 14rem;
			}
		}
	}
}
