@use '../../utils/styles/variables.scss' as *;
.signup {
	&.page-layout {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			linear-gradient(to bottom, $myColor-4, #ed4903);
	}

	&-content {
		padding: 2.5rem;
		&.content-layout {
			border-left: 4px solid $myColor-4;
			border-right: 4px solid $myColor-4;
			box-shadow: 0 0 4rem rgba($myColor-4, 1);
		}

		&-form {
			min-width: 20%;

			&-formgroup {
				& ~ .btn {
					&.book {
						margin-bottom: 2rem;
						&::after {
							background-color: $myColor-4;
						}

						&:hover {
							color: $myColor-4;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 810px) {
	.signup {
		&-content {
			&.content-layout {
				justify-content: end;
			}
			&-form {
				&-formgroup ~ .btn.book {
					font-size: 3rem;
				}
				input {
					font-size: 1.6rem;
				}
			}
		}
	}
}
