@use "../../utils/styles/variables.scss" as *;
.signup {
	&.page-layout {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			linear-gradient(to bottom, $myColor-4, #ed4903);
	}

	&-content {
		&.content-layout {
			gap: 5rem;
			border-left: 4px solid $myColor-4;
			border-right: 4px solid $myColor-4;
			box-shadow: 0 0 4rem rgba($myColor-4, 1);
		}

		&-form {
			&-formgroup {
				& ~ .btn {
					&.book {
						margin-bottom: 2rem;
						&::after {
							background-color: $myColor-4;
						}

						&:hover {
							color: $myColor-4;
						}
					}
				}
			}
		}
	}
}
