@use '../../utils/styles/variables.scss' as *;
.home {
	&.page-layout {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			linear-gradient(to bottom, $myColor-5, $myColor-5);
	}

	h1 {
		font-size: 8rem;
		padding: 2rem;
		margin-bottom: 2rem;
	}

	&-content {
		padding-top: 10rem;
		overflow-y: auto;
		overflow-x: hidden;
		&.content-layout {
			border-left: 4px solid $myColor-5;
			border-right: 4px solid $myColor-5;
			box-shadow: 0 0 4rem rgba($myColor-5, 1);
		}

		&-user {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 100%;
			overflow: hidden;

			ul {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: inherit;
				font-size: 4rem;
				list-style: none;
				padding: 5rem;
				height: 100%;
				width: 15%;
				text-align: center;

				span {
					cursor: pointer;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: initial;
				align-items: center;
				padding: 1.5rem;
				width: 80%;
				height: 80%;
				overflow-y: auto;
				overflow-x: hidden;
				position: relative;
				scrollbar-width: thin;

				& > .user-icon {
					display: flex;
					justify-content: center;
				}

				h2 {
					font-size: 4rem;
					padding: 2rem;
					flex-shrink: 0;
				}
			}
		}
	}
}
@media screen and (max-width: 1260px) {
	.home {
		&-content {
			&-user {
				ul {
					font-size: 3rem;
				}
			}
		}
	}
}
@media screen and (max-width: 1106px) {
	.home {
		&.content-layout {
			padding: 0;
		}
		&-content {
			&-user {
				flex-direction: column;
				&-info {
					width: 97%;
					h2 {
						font-size: 3rem;
						padding: 1.6rem;
					}
				}

				ul {
					flex-direction: row;
					font-size: 3rem;
					width: 100%;
					padding: 2rem;
					height: auto;
				}
			}
		}
	}
}
@media screen and (max-width: 680px) {
	.home {
		h1 {
			margin-top: 3rem;
			font-size: 4rem;
		}

		&-content {
			&-user {
				ul {
					font-size: 2rem;
				}
			}
			.my-heading {
				margin: 0;
			}
			.my-input {
				font-size: 2rem;
			}
			.btn.book {
				font-size: 2rem;
			}
			.user-form {
				margin: 0;
			}
		}
	}
}
@media screen and (max-width: 420px) {
	.home {
		&-content {
			&-user {
				ul {
					font-size: 1.6rem;
				}
			}
			.my-input {
				font-size: 1.6rem;
			}
		}
	}
}
