@use '../../utils/styles/variables.scss' as *;
.tour-prev {
	position: relative;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		linear-gradient(
			to bottom,
			$myColor-2,
			rgba($myColor-2, 0.4),
			rgba($myColor-3, 0.7),
			rgba($myColor-3, 0.7),
			$myColor-3,
			$myColor-3
		),
		url('../../imgs/bg2.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-top: -20rem;

	&.title {
		position: relative;
		background: none;
		border: none;
		color: $myColor-3;
		transform: skewY(0deg);
		margin: 1rem;
	}
	& ~ .info {
		min-width: 30rem;
		margin: 10rem;
		&:hover {
			color: $myColor-3;
		}
		&::after {
			background-color: $myColor-3;
		}
	}
	&-content {
		position: relative;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		z-index: 25;
		width: 100%;

		&-cards {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0.5rem;

			box-shadow: 0 0 4rem rgba(0, 0, 0, 0.8);
			border-radius: 2rem;
			max-width: 50rem;
			cursor: pointer;
			h2 {
				opacity: 0;
				font-size: 4rem;
				position: absolute;
				bottom: 0rem;
				right: 0rem;
				transition: all 0.5s;
				background-color: $myColor-1;
				padding: 0 1rem;
				cursor: pointer;
			}
			span {
				cursor: pointer;
			}
			&:hover {
				box-shadow: 0 0 4rem rgba($myColor-3, 0.8);

				& > div {
					background: linear-gradient(
						to bottom,
						rgba($myColor-1, 0.7),
						rgba($myColor-1, 0.7)
					);
				}
				& > #two {
					background: linear-gradient(
						to bottom,
						rgba($myColor-4, 0.7),
						rgba($myColor-4, 0.7)
					);
					& ~ ul {
						li:first-child {
							border-top: 2px solid $myColor-4;
						}
						li:not(:last-child) {
							border-bottom: 2px solid $myColor-4;
						}
					}
				}
				& > #three {
					background: linear-gradient(
						to bottom,
						rgba($myColor-5, 0.7),
						rgba($myColor-5, 0.7)
					);
					& ~ ul {
						li:first-child {
							border-top: 2px solid $myColor-5;
						}
						li:not(:last-child) {
							border-bottom: 2px solid $myColor-5;
						}
					}
				}
				ul {
					li:first-child {
						border-top: 2px solid $myColor-1;
					}
					li:not(:last-child) {
						border-bottom: 2px solid $myColor-1;
					}
				}

				h2 {
					opacity: 1;
				}
			}

			ul {
				width: 100%;
				background-color: black;
				list-style: none;
				text-align: center;
				transition: all 0.5s 0.2s;
				border-bottom-left-radius: 2rem;
				border-bottom-right-radius: 2rem;
				li {
					padding: 2rem;
					font-size: 3rem;
					&:first-child {
						border-top: 2px solid $myColor-3;
					}
					&:not(:last-child) {
						border-bottom: 2px solid $myColor-3;
					}
				}
			}

			p {
				font-size: 3rem;
				padding: 0.5rem;
			}
		}
	}

	a.tour-prev-content {
		width: 20%;
	}
}
#two {
	h2 {
		background-color: $myColor-4;
	}
}
#three {
	h2 {
		background-color: $myColor-5;
	}
}

@media screen and (max-width: 1382px) {
	.tour-prev {
		&-content {
			a.tour-prev-content {
				width: 100%;
			}
			& ~ div > .info {
				margin-top: 5rem;
				margin-bottom: 5rem;
				transform: translateY(0rem);
			}
			width: 70%;
			flex-direction: column;
			align-items: center;

			&-cards {
				margin: 1rem;
				& > div {
					background: linear-gradient(
						to bottom,
						rgba($myColor-1, 0.7),
						rgba($myColor-1, 0.7)
					);
				}
				& > #two {
					background: linear-gradient(
						to bottom,
						rgba($myColor-4, 0.7),
						rgba($myColor-4, 0.7)
					);
					& ~ ul {
						li:first-child {
							border-top: 2px solid $myColor-4;
						}
						li:not(:last-child) {
							border-bottom: 2px solid $myColor-4;
						}
					}
				}

				& > #three {
					background: linear-gradient(
						to bottom,
						rgba($myColor-5, 0.7),
						rgba($myColor-5, 0.7)
					);
					& ~ ul {
						li:first-child {
							border-top: 2px solid $myColor-5;
						}
						li:not(:last-child) {
							border-bottom: 2px solid $myColor-5;
						}
					}
				}
				h2 {
					font-size: 4rem;
					opacity: 1;
				}
				ul {
					li:first-child {
						border-top: 2px solid $myColor-1;
					}
					li:not(:last-child) {
						border-bottom: 2px solid $myColor-1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 606px) {
	.tour-prev {
		&.title {
			font-size: 4rem;
		}
		&-content-cards {
			h2 {
				font-size: 3rem;
			}
			ul > li {
				font-size: 2rem;
			}
		}
	}
}
