@use "./variables.scss" as *;
.page-layout {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		linear-gradient(to bottom, #01fac0, #01fac0);
}

.content-layout {
	&.flex.flex-col {
		justify-content: initial;
	}
	width: clamp(45rem, 80vw, 280rem);
	height: 100%;
	padding-top: clamp(10rem, 6vh, 105rem);
	margin-top: clamp(10rem, 6vh, 15rem);
	background-color: black;
	border-left: 4px solid $myColor-1;
	border-right: 4px solid $myColor-1;
	box-shadow: 0 0 4rem rgba($myColor-1, 1);
	scrollbar-width: thin;
}
.content-flow {
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
}
