$myColor-1: #00916e;
$myColor-2: #feefe5;
$myColor-3: #ffcf00;
$myColor-4: #ee6123;
$myColor-5: #db0000;

:export {
	color1: $myColor-1;
	color2: $myColor-2;
	color3: $myColor-3;
	color4: $myColor-4;
	color5: $myColor-5;
}
