@use '../../utils/styles/variables.scss' as *;
.booking {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		linear-gradient(
			to bottom,
			$myColor-4 10%,
			rgba($myColor-5, 1),
			rgba($myColor-5, 1),
			rgba($myColor-5, 1),
			rgba($myColor-5, 1),
			$myColor-5
		);
	width: 100%;

	& > .title {
		transform: skew(6deg);
		color: $myColor-5;
		position: relative;
		padding: 1rem;
		top: 0;
	}

	&-content {
		background-color: rgba(black, 0.6);
		background-image: linear-gradient(
				105deg,
				rgba(black, 0.9),
				rgba(black, 0.9) 50%,
				transparent 50%
			),
			url('../../imgs/book.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-width: 40%;
		border-radius: 2rem;
		box-shadow: 0 0 4rem $myColor-5;
		margin: 13rem auto;

		&-form {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 1rem;
			padding: 1rem;
			max-width: 40%;
			&-group {
				margin: 2rem;
				padding: 2rem;
				width: 100%;
				& > .book {
					position: relative;
					font-size: 3rem;
					&:hover {
						color: $myColor-5;
					}
					min-width: 80%;
					&:after {
						background-color: $myColor-5;
					}
				}
			}
			h2 {
				font-size: 4rem;
				text-align: center;
				margin-bottom: 2rem;
			}
			label,
			input {
				display: block;
				font-size: 3rem;
				transition: all 0.2s;
			}
			label {
				cursor: auto;
				color: inherit;
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				transition: all 0.2s;
			}

			input:focus:placeholder-shown,
			input:focus::-webkit-input-placeholder {
				color: transparent;
			}

			input {
				border: 2px solid transparent;
				border-radius: 0.2rem;
				width: 100%;
				z-index: 20;
			}
			input:active,
			input:focus {
				outline: 0.5rem solid $myColor-1;
				box-shadow: 0 0 4rem $myColor-1;
			}
			input:not(:placeholder-shown),
			input:focus {
				& ~ #m {
					transform: translateY(-10rem);
					opacity: 1;
					visibility: visible;
				}
			}
			input:invalid {
				outline: 0.5rem solid $myColor-5;
				box-shadow: 0 0 4rem $myColor-5;
			}
		}
	}
}

@media screen and (max-width: 1480px) {
	.booking {
		& > .title {
			font-size: 4rem;
		}
		&-content {
			background-image: linear-gradient(
					105deg,
					rgba(black, 0.9),
					rgba(black, 0.9) 60%,
					transparent 60%
				),
				url('../../imgs/book.jpg');
			&-form {
				width: 100%;
				h2 {
					font-size: 3rem;
				}
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.booking {
		& > .title {
			font-size: 3rem;
		}
		&-content {
			width: 80%;
			background-image: linear-gradient(
					105deg,
					rgba(black, 0.9),
					rgba(black, 0.9),
					// transparent 60%
				),
				url('../../imgs/book.jpg');
			&-form {
				max-width: 90%;
				padding: 1rem;

				h2 {
					font-size: 3rem;
					margin-bottom: 5rem;
				}
				label,
				input {
					font-size: 2rem;

					margin: 0;
				}
			}
		}
	}
}
