@use '../..//utils/styles/variables.scss' as *;
.nav {
	position: fixed;
	width: 100%;
	z-index: 200;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s;
	padding: 1rem;

	&-logo {
		font-size: 3rem;
		padding: 1rem;
		margin: 1rem;
	}
	&.light li {
		color: black;
	}
	li:hover,
	&.light li:hover {
		a {
			&#pp {
				color: $myColor-1;
			}
			&#to {
				color: $myColor-3;
			}

			&#con {
				color: $myColor-2;
			}
			&#crr {
				color: $myColor-4;
			}
			&#lgl {
				color: $myColor-5;
			}
			text-decoration: underline;
		}
	}

	ul {
		max-width: 95%;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			font-size: 2rem;
			margin: 1rem;
			padding: 0.5rem;
			color: $myColor-2;
		}
	}
}
@media screen and (max-width: 750px) {
	.nav {
		flex-direction: column;

		&-logo {
			margin: 0;
		}
		ul {
			li {
				font-size: 1.6rem;
				margin-bottom: 0;
			}
		}
	}
}
