@use "../../utils/styles/variables.scss" as *;
.about {
	&-content {
		.my-heading {
			margin: 5rem;
		}

		&.content-layout {
			gap: 5rem;
		}
		&-us {
			width: clamp(50rem, 80vw, 150rem);
			padding: 2rem;

			img {
				border-radius: 5%;
				float: left;
				margin: 2rem;
				width: clamp(10rem, 50vw, 50rem);
			}
			ul {
				display: block;
				list-style: none;
				font-size: clamp(1.6rem, 3vw, 3rem);
				padding: clamp(1rem, 5vw, 5rem);
				margin: 1rem;

				li:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
			span {
				font-size: clamp(3rem, 5vw, 4rem);
				margin: 1rem;
				&.text-gradient {
					font-style: italic;
					padding-right: 0.5rem;
				}
			}
		}

		&-guides {
			flex-wrap: wrap;
			gap: 5rem;
			width: 100%;

			.load {
				position: relative;
				top: 0;
				bottom: 0;
				font-size: 2rem;
				color: $myColor-1;
			}

			p {
				font-size: 1.6rem;
				font-style: italic;
			}
		}
	}
}
@media screen and (max-width: 1175px) {
	.about {
		&-content {
			&-us {
				img {
					display: block;
					float: none;
					margin: 0 auto;
				}
			}
		}
	}
}
